<!DOCTYPE html>
<html>
  <head>
    <title>SWECHAT - Test Cases</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/test.css" rel="stylesheet">
    <script src="./js/jquery.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/underscore.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/test.js"></script>
  </head>  
  <body>
    <div class="container"> 
      <header class="page-header test-header">
        <h2>SWECHAT APPLICATION</h2>
        <h3>TEST CASE DOCUMENT</h3>
        <p>M. Emre Öğretici, Yıldız Kabaran</p>
      </header>  
      
      <div class="row">  
        <div class="span3 side-menu">  
          <ul class="nav nav-list" style="max-height: 960px; overflow: auto; padding-bottom: 20px;">   
            <li id="menuIntroduction" class="menuItem active"><a href="#">Introduction</a></li>
            <li id="menuTestPlan" class="menuItem"><a href="#">Test Plan</a></li>
            <li id="menuTestNotes" class="menuItem"><a href="#">Notes</a></li>
            <li class="nav-header">Test Users</li>
            <li class="menuTestUser menuItem" user-id="JOHN"><a href="#" onClick="return false;">JOHN</a></li>
            <li class="menuTestUser menuItem" user-id="JAMES_B"><a href="#" onClick="return false;">JAMES_B</a></li>
            <li class="menuTestUser menuItem" user-id="JAMES"><a href="#" onClick="return false;">JAMES</a></li>
            <li class="menuTestUser menuItem" user-id="MARK"><a href="#" onClick="return false;">MARK</a></li>
            <li class="menuTestUser menuItem" user-id="JESSICA"><a href="#" onClick="return false;">JESSICA</a></li>
            <li class="menuTestUser menuItem" user-id="CASSANDRA"><a href="#" onClick="return false;">CASSANDRA</a></li>
            <li class="menuTestUser menuItem" user-id="STEVE"><a href="#" onClick="return false;">STEVE</a></li>
            <li id="testCaseMenuSeparator" class="nav-header">Test Cases</li>  
          </ul>  
        </div>
        
        <div id="introductionView" class="span9 contentView">
          <h3>INTRODUCTION</h3>
          <p>SWECHAT project is a web based chat application. The application features a server that forms the backbone of the chat system and also features clients which communicate with other chat clients in a peer-to-peer messaging mode. To test the complete functionality, security, usability and durability of the product, we will use different testing methods, cases and software which are described in this document.</p>
          <br/>
          <h4>GOALS AND OBJECTIVES</h4>
          <p>The overall goals of the test processes are intended to prove that the functions of the product work as specified in RFC documents. Additionally, they are meant to uncover possible bugs.</p>
          <br/>
          <h4>STATEMENT OF SCOPE</h4>
          <p>The scope of the testing would be all functional and non-functional activity within the product.</p>
          <br/>
          <h4>MAJOR CONSTRAINTS</h4>
          <p>A primary constraint for testing would be the;</p>
          <ul>
            <li>Web server which server is hosted on.</li>
            <li>Client application should be tested on different machine from same or different network with server.</li>
            <li>Wireshark software to analyze TCP packets.</li>
          </ul>
        </div>
        <div id="testPlanView" class="span9 contentView" style="display: none;">
          <h3>TEST PLAN</h3>
          <h4>SOFTWARE TO BE TESTED</h4>
          <p>The product itself is to be tested as explicitly as possible. SWECHAT consists of two different main parts: Server and Client. Their interactions and the flow of information between Client to Server, Server to Client and Client to Client will be fully tested.</p>
          <p>This section will outline the test plan that will be implemented in order to properly test SWECHAT. These tests will be done using the concepts of smoke testing, which will allow us to test larger piece of the product at a time depending on how the individual function relate to each other.</p>
          <h5>Installation Testing</h5>
          <p>Testing the installation of both client and server applications. Checking if both applications can be installed as defined in “User Manual”.</p>
          <h5>Unit Testing</h5>
          <p>The unit testing strategy involves breaking the system down into individual fields in which we will refer to as functions. All functions defined in RFC involving client, server, client-client and client-server will be tested.</p>
          <h5>Compatibility Testing</h5>
          <p>Application will be tested on different OS such as Windows and Linux (Did we agree on just using one OS?)</p>
          <h5>Software Performance Testing</h5>
          <p>Performance and durability of application will be tested. Application should respond to 10 requests in one second as normally which means it should support at least 10 clients online.</p>
          <h5>Validation Testing</h5>
          <p>Upon completing the tests that are preformed in installation testing and unit testing, that validity of the units tested will need to be confirmed. This means that output and functionality of the units will need to be compared to the language that was set forth in the software specification document. Validation testing will make sure the final product has the correct functionality throughout.</p>
          <br/>
          <h4>TESTING RESOURCE</h4>
          <p>The resources to be used for testing include web server, client applications and Wireshark software.</p>
          <br/>
          <h4>TEST RECORD KEEPING</h4>
          <p>For recording our test results, the proposed idea is to create table keeping track of when our functions pass and fail their specific tests. This method will allow us to quickly fill in the results of tests and refer to them later.</p>
          <br/>
          <h4>TESTING METRICS</h4>
          <p>Both applications will be tested to meet the quality and technical expectations proposed in the requirements specification. Usability, efficiency, reliability and completeness are a few important metrics that need to be accounted for during testing activity.</p>
          <ul>
            <li><strong>Usability:</strong> this will take into account a users' ability to navigate and use the software with ease. Although this can be applied after software builds, this metric will be taken into higher consideration at the final development stages of the product.</li>
            <li><strong>Reliability:</strong> this metric will verify that functions will have consistent results after each operation.</li>
            <li><strong>Completeness:</strong> this metric will be used to test functions and the software as a whole, rating their functionality to the final versions specified in requirements.</li>
          </ul>
          <br/>
          <h4>TEST SCHEDULE</h4>
          <p>First installation testing will be completed. Then unit testing will be done. As each unit is tested it will be integrated with previously tested units in a top-down fashion. As new things are integrated, tests will be done to ensure that the product is working properly and there are not unforeseen side effects. During this process, the units will be tested against the specifications to ensure they meet the requirements. After each unit tested, we will check security, performance, and durability of the software.</p>
          <br/>
        </div>
        <div id="testNotesView" class="span9 contentView">
          <h3>NOTES</h3>
          <p>If in any test case an error is expected as a response, then an error with a message field is also accepted. If the test case was an injection case, then the server can choose to respond with any ERR packet, empty response, or no response for 30 seconds.</p>
          <p>Unless otherwise stated, test users have no contacts, offline messages, or requests.</p>
          <p>Although the sequence number, IP address, and date fields in test data are not explicitly specified, during the actual tests these values will be checked for correctness.</p>
          <p>When an error happens, the client is expected to display an error message if the user needs to be notified, or do not display anything if the error needs to be handled silently</p>
          <p>If a message is injected at any point in the test cases, it is expected that the client will not allow the user to perform that action at that point of the test (or ever) via the user interface</p>
          <p>The Client UI might implement denying a request as ignoring the request while implementing the same functionality.</p> 
        </div>
        <div id="dynamicView" class="span9 contentView" style="display: none;"></div>
      </div>  
    </div>

    <script type="text/template" id="testCaseTemplate">
      <h3><%= title %></h3>
      <table class="table table-bordered">
        <tr>
          <th style="width:20%;">Case ID:</th>
          <td><%= caseId %></td>
        </tr>
        <tr>
          <th>RFC References:</th>
          <td>
            <% for(var i=0; i<rfcReferences.length; ++i) { %>
              <%= rfcReferences[i] %>
              <% if(i<rfcReferences.length-1) { %>
                <br/>
              <% } %>
            <% } %>
          </td>
        </tr>
        <tr>
          <th>Description:</th>
          <td><%= description %></td>
        </tr>
        <tr>
          <th>Target:</th>
          <td><%= target %></td>
        </tr>
      </table>

      <table class="table table-bordered">
        <tr>
          <th style="width:20%;">Pre-Conditions:</th>
          <td>
            <% for(var i=0; i<preConditions.length; ++i) { %>
              <%= preConditions[i] %>
              <% if(i<preConditions.length-1) { %>
                <br/>
              <% } %>
            <% } %>
          </td>
        </tr>
        <tr>
          <th>Dependencies:</th>
          <td>
            <% for(var i=0; i<dependencies.length; ++i) { %>
              <%= dependencies[i] %>
              <% if(i<dependencies.length-1) { %>
                <br/>
              <% } %>
            <% } %>
          </td>
        </tr>
      </table>

      <table class="table table-bordered">
        <tr>
          <th style="width:8%;">Step</th>
          <th>Description</th>
          <th>Data</th>
          <th>Expected Result</th>
        </tr>
        <% for(var i=0; i<steps.length; ++i) { %>
          <tr>
            <td><%= (i+1) %></td>
            <td><%= steps[i].description %></td>
            <td><code><%= steps[i].data %></code></td>
            <td><%= steps[i].expected %></td>
          </tr>
        <% } %>
      </table>

      <table class="table table-bordered">
        <tr>
          <th style="width:20%;">Post-Conditions:</th>
          <td>
            <% for(var i=0; i<postConditions.length; ++i) { %>
              <%= postConditions[i] %>
              <% if(i<postConditions.length-1) { %>
                <br/>
              <% } %>
            <% } %>
          </td>
        </tr>
      </table>
      
      <% if(testData.length>0){ %>
        <table class="table table-bordered">
          <tr>
            <th style="width:8%;">Data</th>
            <th>Request</th>
            <th>Response</th>
          </tr>
          <% for(var i=0; i<testData.length; ++i) { %>
            <tr>
              <td><code><%= testData[i].id %></code></td>
              <td><pre><%= testData[i].request %></pre></td>
              <td><pre><%= testData[i].response %></pre></td>
            </tr>
          <% } %>
        </table>
      <% } %>
    </script>
    
    <script type="text/template" id="testUserTemplate">
      <h3><%= title %></h3>
      <table class="table table-bordered">
        <tr>
          <th style="width:20%;">Username:</th>
          <td><%= userid %></td>
        </tr>
        <tr>
          <th>Password:</th>
          <td><%= password %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= email %></td>
        </tr>
        <tr>
          <th>Name:</th>
          <td><%= name %></td>
        </tr>
      </table>

      <table class="table table-bordered">
        <tr>
          <th colspan="2">Profile</th>
        </tr>
        <tr>
          <th style="width:20%;">Message:</th>
          <td><%= profile.message %></td>
        </tr>
        <tr>
          <th>Location:</th>
          <td><%= profile.location %></td>
        </tr>
          <tr>
          <th>Gender:</th>
          <td><%= profile.gender %></td>
        </tr>
        <tr>
          <th>Nationality:</th>
          <td><%= profile.nationality %></td>
        </tr>
      </table>
    </script>
  </body>
</html>
